.status-bar-container{
    // opacity: 0.05;
    // background-color: #000000;

    background-color: rgba(255, 255, 255, 0.05); 
}

.status-bar{
   display: flex;
   justify-content: space-between;
}