.side-bar-item-container{
    margin: 0px;
    background-color: rgba($color: #FFFFFF, $alpha: 0.25);
    border-radius: 12px;
}

.side-bar-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 10px 0;
}

.side-bar-item-children{
    margin: 10px 0 10px 0;
    & p {
        margin-bottom: 5px;
    }
}