.cv-template-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-template {
    // width: 855px;
    width: 64vw; // calculate by ratio of 855/1345 = 0.6356
    height: 738px;
    display: flex;
    flex-direction: row;

    & > * {
        height: 100%;
    }

    & > .side-panel {
        background-color: rgb(#292b2b, 0.7);
        backdrop-filter: blur(80px);
        border-radius: 12px 0px 0px 12px;
        width :30%;
    }

    & > .main-panel {
        background-color: #282b2b;
        border-radius: 0px 12px 12px 0px;
        width: 70%;
    }

    .side-panel-wrapper {
        margin: 0px 10px 0px 10px;
    }
}
