.cv-template-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-template {
    width: 570px;
    height: 738px;
    display: flex;
    flex-direction: row;

    & > * {
        height: 100%;
        width: 50%;
    }

    & > .side-panel {
        background-color: rgb(#292b2b, 0.7);
        backdrop-filter: blur(80px);
        border-radius: 12px 0px 0px 12px;
    }

    & > .main-panel {
        background-color: #282b2b;
        border-radius: 0px 12px 12px 0px;
    }

    .side-panel-wrapper {
        margin: 0px 10px 0px 10px;
    }
}
